table {
    border-spacing: 3px;
    
}
th, td {
    border: 1px solid black;
    padding: 3px;
    width: 16%;
}
.webDev {
    background-color: turquoise;
}
.ML {
    background-color: yellow;
}
.ADS {
    background-color: green;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.poem {
    text-align: center;
    clear: both;
}
img {
    float: right;
}
body {
    font-family: garamond;
    font-size: large;
}